<h1>Template Driven Forms</h1>
<form>
    <div class="col-md-6">
        <div class="col-md-2">
            <label>firstname:</label>
        </div>
        <div class="col-md-4">
            <input type="text">
        </div>
        <br><br>
        <div class="col-md-2">
            <label>street:</label>
        </div>
        <div class="col-md-4">
            <input type="text">
        </div>
        <br><br>
        <div class="col-md-2">
            <label>zip:</label>
        </div>
        <div class="col-md-4">
            <input type="text">
        </div>
        <br><br>
        <div class="col-md-2">
            <label>phone:</label>
        </div>
        <div class="col-md-4">
            <input type="text">
        </div>
        <br><br>
        <div class="col-md-2">
            <label>email:</label>
        </div>
        <div class="col-md-4">
            <input type="text">
        </div>
        <br><br>
        <button type="submit" style="margin: 15px; width: 60px">submit</button>
    </div>
</form>